.about {
    color: var(--text-primary);
    padding: 2rem 12%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
}

.about h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

.about-info {
    border-radius: 3rem;
    background: var(--bg-primary);
    box-shadow: 0 4px 10px var(--accent);
    padding: 40px;
}

.about p {
    margin-bottom: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}

.personal-info {
    margin-top: 1rem;
}

.personal-info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.personal-info ul {
    list-style: none;
    padding: 0;
}

.personal-info li {
    margin-bottom: 0.5rem;
}

.personal-info span {
    font-weight: bold;
    color: var(--accent);
}

.about-image {
    z-index: 1;
    margin-left: 4rem;
}

.about-image img {
    width: 80%;
    height: 90%;
    object-fit: cover;
}

@media (max-width: 1535px) {
    .about {
        display: block;
    }
    .about-image {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .about {
        display: block;
        padding: 2rem;
        text-align: center;
        margin-top: 2rem;
    }

    .about h2{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .about h3 {
        font-size: 1.7rem;
    }

    .about p {
        margin-bottom: 2rem;
    }

    .about-image {
        display: none;
    }

    .about-info {
        padding: 20px;
    }
}

/* Skills Section */

.skills .container {
    /* background: var(--primary); */
    color: var(--text-primary);
    border-radius: 4rem;
    padding: 2rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3rem;
    background: var(--accent);
    box-shadow: 0 4px 10px var(--accent);
    transition: 0.3s;
}

.skills .container .bar:hover {
    box-shadow: 0 8px 10px var(--accent);
    transform: scale(1.1);
}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

/* .skills .container .bar .progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
    margin-bottom: 10px;
}

.skills .container .bar .progress-bar {
    height: 20px;
    background-color: #7aab75;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    width: 0;
    transition: width 0.8s ease;
} */

@media screen and (max-width:600px) {
    .skills .container {
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem 3rem;
        padding: 1rem 0.2rem 0 0.2rem;
        gap: 1rem;
    }
    .skills .container {
        margin-top: 5px;
        width: 100%;
    }
    .skills .container .bar .info span {
        font-size: 1rem;
    }
}

/* Education Section*/

.education {
    min-height: auto;
    padding: 50px 0;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--text-primary);
    margin: 1rem auto;
}

.education .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
}

.education .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--text-primary);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}

.education .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 1;
}

.education .container::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgba(255, 255, 255);
    border: 4px solid var(--accent);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--bg-primary);
}

.education .left {
    left: 0;
}

.education .right {
    left: 50%;
}

.education .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--primary);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--primary);
}

.education .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--primary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--primary) transparent transparent;
}

.education .right::after {
    left: -16px;
}

.education .content {
    background: #ecafbf;
    position: relative;
    border-radius: 6px;
    padding: 15px 30px;
    text-align: left;
    box-shadow: 0 4px 10px var(--accent);
}

.education .content .tag {
    font-size: 1.6rem;
    padding-top: 1.5rem;
}

.education .content .decs {
    padding-bottom: 1rem;
}

.education .content .tag h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--bg-primary);
    font-weight: bold;
}
.education .content .tag h2 .year {
    font-size: 1.6rem;
    color: var(--text-primary);   
}

.education .content .decs p {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--bg-primary);
    margin-top: 10px;
    line-height: 2.2rem;
}

@media screen and (max-width:600px) {
    .education .timeline {
        margin-top: 2rem;
    }
    .education .timeline::after {
        left: 31px;
    }
    .education .container {
        width: 100%;
        padding-left: 4.4rem;
        padding-right: 2rem;
    }
    .education .container::after {
        font-size: 1.3rem;
    }
    .education .container::before {
        left: 61px;
        border: medium solid var(--primary);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--primary) transparent transparent;
    }
    .education .left::after {
        left: 15px;
    }
    .education .right::after {
        left: 15px;
    }
    .education .right {
        left: 0%;
    }
    .education .content {
        padding: 5px 20px;
    }
    .education .content .tag h2 {
        font-size: 1.2rem;
    }
    .education .content .tag h2 .year {
        font-size: 1.2rem;
    }
    .education .content .decs p {
        font-size: 1rem;
        line-height: 1.8rem;
    }
    .heading {
        font-size: 2.5rem;
    }
}
